* {
    box-sizing: border-box;
    margin: 0;
}
html {
    font-size: 10px;
}
body {
    background-color: #FFFFFF;
    font-family: 'Train One', cursive;
    color: #5b5766;
    font-size: 1.8rem;
    line-height: 1.5rem;
}
ul {
    list-style: none;
}
h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #554d89;
}
.btn {
    border: none;
    text-decoration: none;
    border-radius: 40px;
    height: 40px;
    padding: 0 1.5rem;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}
.btn-light {
    background-color: transparent;
    border: 1px solid #6852ED;
    font-size: 1.4rem;
    color: #6852ED;
}
.btn-dark {
    color: #fff;
    background: linear-gradient(to top, #6852ED , #BA43FC);
    padding: 1.3rem 3rem;
}
.link {
    border: none;
    background-color: transparent;
    text-decoration: none;
    color: #554D89;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    cursor: pointer;
}
.link:hover {
    text-shadow: 0 0 1px #554D89;
}
.link-arrow::after {
    content: "\f30b";
    font-family: FontAwesome;
    margin-left: 1.5rem;
}
.divider {
    border: none;
    border-bottom: 1px solid rgba(225, 228, 237, 0.8);
}
.wrapper {
    width: 1146px;
    margin: 0 auto; 
}
.top-header {
    display: flex;
    justify-content: space-between;
    padding: 2.4rem 0 1.7rem;
    font-size: 1.6rem;
}
.top-header__text {
    color: #716C80;
}
.top-header__phone {
    color: #716C80;
    text-decoration: none;
}
.top-header__phone:hover {
    text-decoration: underline;
}
.top-header__phone::before {
    content: "\f879";
    font-family: "FontAwesome";
    margin-right: 0.8rem;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}
.header-navbar {
    display: flex;
    align-items: center;
}
.header__logo {
    display: block;
    margin-top: 1rem;
}
.header__menu {
    display: flex;
}
.header__menu-item {
    margin-right: 3rem;
    position: relative;
    padding: 1.8rem 0;
}
.header__menu-item:last-child {
    margin-right: 0;
}
.contact {
    margin-top: 2.1rem;
}
.header__menu-item:hover .header__submenu {
    display: block;
}
.header__submenu {
    display: none;
    position: absolute;
    top: 5.4rem;
    left: -3rem;
    padding: 3rem;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px #E1E4ED;
    border-radius: 10px;
}
.header__submenu > .header__menu-item {
    padding: 0;
    margin-bottom: 1rem;
}
.header__submenu > .header__menu-item:last-child {
    margin-bottom: 0;
}
.header__menu-link {
    color: #5B5766;
    font-size: 1.6rem;
    text-decoration: none;
}
.header__menu-link:hover {
    color: #554d89;
    text-shadow: 0 0 1px #554d89;
}
.header__menu-link_active {
    color: #554d89;
    font-weight: 700;

}
.header-action__text {
    display: inline-block;
    margin: 0 0.5rem;
}
.stage {
    margin-top: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.stage__content {
    position: relative;
    top: -6rem; 
}
.stage__title {
    font-size: 5rem;
    line-height: 1.2;
    margin-bottom: 3.2rem;
}
.stage__text {
    font-size: 2.2rem;
    line-height: 3.3rem;
    margin-bottom: 4rem;
}
.stage__actions .btn-dark{
    margin-right: 3rem;
}
.btn-bottom {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 110px;
    height: 110px;
    background: #6852ED;
    border-radius: 50%;
    display: flex;
    color: #fff;
    text-decoration: none;
}
.btn-bottom > i {
    margin: auto;
    font-size: 5rem; 
}
.features {
    display: flex;
    justify-content: space-between;
    margin-top: 12rem;
}
.infoblock {
    width: 360px;
    height: 229px; 
    background: #FFFFFF;
    box-shadow: 0px 0px 20px #E1E4ED;
    border-radius: 10px;
    padding: 3rem;
}
.infoblock:hover {
    background: linear-gradient(to top, #6852ED 16.67%, #BA43FC);
    box-shadow: 0px 0px 20px rgba(104, 82, 237, 0.8);
}
.infoblock .fas {
    color: #6852ED;
    font-size: 3.2rem;
    margin-bottom: 3rem;
}
.infoblock__title {
    font-size: 2.2rem;
    line-height: 3.3rem;
    margin-bottom: 1.9rem;
}
.infoblock__text {
    line-height: 2.8rem;
    color: #716C80;
    
}
.infoblock_link {
    display: none;
    color: #fff;
    margin-top: 3rem; 
}
.infoblock:hover .fas {
    display: none;
}
.infoblock:hover .infoblock__title {
    color: #fff;
}
.infoblock:hover .infoblock__text {
    color: #fff;
}
.infoblock:hover .infoblock_link {
    display: inline-block;
}
.article {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-top: 10rem;
}
.article_reverse {
    flex-direction: row-reverse;
}
.article__img, .article__content{
    width: 50%;
    flex-shrink: 0;
}
.article__content {
    padding-left: 6rem;
}
.article__title {
    width: 412px;
    font-size: 2.8rem;
    line-height: 4.2rem;
    margin-bottom: 3rem;
}
.article__text {
    color: #716C80;
    margin-bottom: 5rem;
    line-height: 2.8rem;
}
.article .btn {
    margin-right: 3rem;
}